---
import Layout from '../../layouts/Layout.astro';
import '../../styles/lyrics.scss';

const lyrics = await Astro.glob('./files/*.md');
---

<Layout title='Lyrics' description='Página de lyrics' author='Miguel Gonzales'>
	<section class='lyrics'>
		<h1>Lyrics</h1>
        <p>Aki tan las liriks</p>
        <ul>
			{
				lyrics.map((lyric) => (
					<li>
						<a href={lyric.url}>{lyric.frontmatter.title}</a>
					</li>
				))
			}
		</ul>
	</section>
</Layout>
