---
import '../styles/header.scss'
---

<header>
    <span class="logo">LyricalNotes</span>
    <nav>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/lyrics">Lyrics</a>
            </li>
        </ul>
    </nav>
</header>